In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df=pd.read_csv("Data/DE&CO_14_06.csv")
kaggle=pd.read_csv("Data/Kaggle_enriquecido.csv")

In [16]:
df.drop_duplicates(inplace=True)
df.dropna(subset=["order_id"],inplace=True)
df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time,delivery_time_model,product_id,...,customer_zip_code_prefix,customer_city,customer_state,order_id.2,order_item_id,product_id.1,seller_id.1,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02.000,2017-09-13 09:45:35.000,2017-09-19 18:34:16.000,2017-09-20 23:43:48.000,7.61,15.63,4244733e06e7ecb4970a6e2683c13e61,...,28013.0,campos dos goytacazes,RJ,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35.000,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06.000,2017-04-26 11:05:13.000,2017-05-04 14:35:00.000,2017-05-12 16:04:24.000,16.22,18.55,e5f2d52b802189ee658865ca93d83a8f,...,15775.0,NaN,NaN,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13.000,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31.000,2018-01-14 14:48:30.000,2018-01-16 12:36:48.000,2018-01-22 13:19:16.000,7.95,21.39,c777355d18b72b67abbeef9df44fd0fd,...,35661.0,NaN,NaN,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30.000,199.00,17.87
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51.000,2017-02-04 14:10:13.000,2017-02-16 09:46:09.000,2017-03-01 16:42:31.000,25.11,40.42,ac6c3623068f30de03045865e4e10089,...,13226.0,VARZEA PAULISTA,SP,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51.000,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34.000,2017-05-17 03:55:27.000,2017-05-17 11:05:55.000,2017-05-22 13:44:35.000,6.67,21.10,ef92defde845ab8450f9d70c526ef70f,...,38017.0,NaN,NaN,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27.000,21.90,12.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117595,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,...,56912.0,NaN,NaN,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19
117596,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,...,56912.0,NaN,NaN,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19
117597,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,...,56912.0,NaN,NaN,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19
117601,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56.000,2017-10-24 17:14:25.000,2017-10-26 15:13:14.000,2017-10-28 12:22:22.000,4.80,17.29,72a30483855e2eafc67aee5dc2560482,...,4039.0,SAO PAULO,SP,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25.000,99.90,16.95
117602,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59.000,2017-08-15 00:04:32.000,2017-08-15 19:02:53.000,2017-08-16 21:59:40.000,1.96,10.04,9c422a519119dcad7575db5af1ba540e,...,13289.0,vinhedo,sao paulo,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32.000,55.99,8.72

In [17]:
kaggle

,order_id,customer_id,order_purchase_timestamp,order_approved_at,product_id,seller_id,shipping_limit_date,price,freight_value,customer_zip_code_prefix,customer_city,customer_state,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,cee3292f46ede6ea1dfabfcb200fcf47,0f8feee05f830b2be5955cf674a7d8f1,6/21/2018 15:00,6/21/2018 17:18,1bfb290d7273a442c874dbe74b4abae6,7c67e1448b00f6e969d365cea6b010ab,2018-07-05 17:18:41.000,69.99,23.20,8280,NaN,NaN,moveis_escritorio,10075.0,55.0,64.0,26.0,8577,itaquaquecetuba,SP
1,50dca53ca33b739bef09e7933e8b380e,d0580aed7f303a707d93b00b84c591a7,7/14/2018 09:47,7/14/2018 10:04,eb048e296b8db6cd64b1bafd9500786c,1900267e848ceeba8fa32d80c1a5f5a8,2018-07-17 10:04:14.000,19.90,12.80,7151,guarulhos,sao paulo,cama_mesa_banho,250.0,16.0,10.0,16.0,14940,ibitinga,SP
2,8087ec71e393d4dc6fc48041fe63cd51,b8dfb418e6cad762b91febf827d4b2e5,5/14/2018 10:03,5/14/2018 10:15,39cdb64dad488a6037d828d1cd514255,8f119a0aee85c0c8fc534629734e94fd,2018-05-18 10:15:20.000,22.50,8.64,4013,SAO PAULO,SP,casa_construcao,300.0,28.0,9.0,18.0,6440,barueri,SP
3,e6b6557ce111de79b31cc857f20ba212,90c8fe0d707ea62be3fcb5abd7bc784f,5/22/2018 18:41,5/22/2018 18:57,803f77475e1b51b47f1bfec4f2ec353f,c9c7905cffc4ef9ff9f113554423e671,2018-05-25 18:57:37.000,69.99,15.37,30660,belo horizonte,MG,automotivo,350.0,17.0,6.0,20.0,6871,itapecerica da serra,SP
4,0b09c5e4c2512f627190ac55a78c35a3,6ba83000cf8c24413916a7a72fcb5173,4/30/2018 19:31,5/3/2018 04:12,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,2018-05-09 04:12:51.000,27.90,18.23,89056,NaN,NaN,alimentos,150.0,17.0,13.0,13.0,12940,atibaia,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28147,81cedc4d2132eb6f512354166e51b187,a8f6bb35d78515a1762eb626d52b6352,7/30/2018 21:02,7/30/2018 21:10,0d0bc6cf9765ffe8b4d3103138c96cdd,179d859f51292aac5c10806a356f7af9,2018-08-05 21:10:20.000,17.49,12.79,12705,cruzeiro,NaN,eletronicos,200.0,19.0,13.0,17.0,9411,ribeirao pires,SP
28148,95811675a89b66659996da5285a021db,5885969ba920706beb8d5381a2ba981c,8/9/2018 11:07,8/9/2018 15:25,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2018-08-13 15:25:22.000,109.90,22.07,72002,NaN,NaN,moveis_decoracao,2600.0,50.0,10.0,30.0,4782,sao paulo,SP
28149,25bd2ad9d282f59e4e6a048ef9bf214f,be34bf56044c5614fc66d97251c0adc6,3/12/2018 16:20,3/12/2018 17:09,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-03-16 17:09:53.000,53.90,42.44,66610,belem,PA,ferramentas_jardim,1650.0,30.0,22.0,30.0,15025,sao jose do rio preto,SP
28150,9f9ac312604229686c04260955495c70,3357c4c3ecf82709236158cb2ac0ce9b,5/24/2018 11:38,5/24/2018 11:53,bb50f2e236e5eea0100680137654686c,f7ba60f8c3f99e7ee4042fdef03b70c4,2018-05-28 11:53:34.000,330.00,10.07,3315,NaN,NaN,beleza_saude,400.0,34.0,4.0,22.0,9628,sao bernardo do campo,SP
28151,f51c9940410ef77422e4efbca407c161,ceeaae7ee13b40a086d0140281bef2ac,8/16/2018 11:05,8/17/2018 03:30,020a80cb704bf65f38761fcedf2af192,ef2fbc2b607d8492bcffe657a4645434,2018-08-22 03:30:17.000,49.90,19.54,85301,laranjeiras do sul,NaN,automotivo,800.0,26.0,9.0,24.0,20051,rio de janeiro,RJ

In [18]:
kaggle.describe()

,price,freight_value,customer_zip_code_prefix,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix
count,28152.000000,28152.000000,28152.000000,28152.000000,28152.000000,28152.000000,28152.000000,28152.000000
mean,173.018566,21.824988,33954.572961,1931.173629,28.851733,15.853474,22.253232,24334.139315
std,2941.073131,19.222621,29571.962196,3473.130653,15.209682,12.438187,10.920658,27514.915116
min,0.850000,0.000000,1003.000000,0.000000,9.000000,2.000000,6.000000,1001.000000
25%,43.000000,13.090000,9617.750000,275.000000,18.000000,8.000000,15.000000,6097.000000
50%,79.900000,18.230000,22793.000000,600.000000,23.000000,13.000000,19.000000,13465.000000
75%,139.000000,23.180000,56200.000000,1700.000000,35.000000,20.000000,29.000000,26379.000000
max,299990.000000,300.000000,99980.000000,30000.000000,105.000000,105.000000,105.000000,99730.000000

In [19]:
df.describe()

,delivery_time,delivery_time_model,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,payment_sequential,payment_installments,payment_value,customer_zip_code_prefix,order_item_id,price,freight_value
count,81771.000000,81771.000000,80321.000000,80321.000000,80321.000000,81751.000000,81751.000000,81751.000000,81751.000000,81771.000000,81768.000000,81768.000000,81768.000000,81771.000000,81771.000000,80984.000000,81002.000000
mean,13.363744,24.550943,48.664446,771.161340,2.203869,2164.935573,30.761226,16.773935,23.348314,24606.865246,1.102155,2.966539,169.314322,35521.254883,1.198322,166.707711,30.569107
std,9.637743,8.081540,10.072097,650.680376,1.723897,3865.227245,16.470895,13.693857,12.022677,27649.589741,0.764341,2.810509,266.584547,29885.212560,0.720503,3129.881746,681.575920
min,0.530000,7.010000,5.000000,4.000000,1.000000,2.000000,7.000000,2.000000,6.000000,1001.000000,1.000000,0.000000,0.000000,1004.000000,1.000000,1.200000,0.000000
25%,7.280000,19.500000,42.000000,340.000000,1.000000,300.000000,18.000000,8.000000,15.000000,6506.000000,1.000000,1.000000,59.957500,11704.000000,1.000000,39.900000,13.110000
50%,11.180000,23.560000,51.000000,589.000000,1.000000,700.000000,25.000000,13.000000,20.000000,13920.000000,1.000000,2.000000,106.780000,24935.000000,1.000000,72.900000,16.110000
75%,16.750000,28.530000,57.000000,963.000000,3.000000,1825.000000,40.000000,20.000000,30.000000,29156.000000,1.000000,4.000000,187.470000,59300.000000,1.000000,130.000000,20.140000
max,209.630000,155.140000,72.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99730.000000,26.000000,24.000000,13664.080000,99980.000000,21.000000,599000.000000,108960.000000

In [20]:
df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time,delivery_time_model,product_id,...,customer_zip_code_prefix,customer_city,customer_state,order_id.2,order_item_id,product_id.1,seller_id.1,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02.000,2017-09-13 09:45:35.000,2017-09-19 18:34:16.000,2017-09-20 23:43:48.000,7.61,15.63,4244733e06e7ecb4970a6e2683c13e61,...,28013.0,campos dos goytacazes,RJ,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35.000,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06.000,2017-04-26 11:05:13.000,2017-05-04 14:35:00.000,2017-05-12 16:04:24.000,16.22,18.55,e5f2d52b802189ee658865ca93d83a8f,...,15775.0,NaN,NaN,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13.000,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31.000,2018-01-14 14:48:30.000,2018-01-16 12:36:48.000,2018-01-22 13:19:16.000,7.95,21.39,c777355d18b72b67abbeef9df44fd0fd,...,35661.0,NaN,NaN,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30.000,199.00,17.87
4,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51.000,2017-02-04 14:10:13.000,2017-02-16 09:46:09.000,2017-03-01 16:42:31.000,25.11,40.42,ac6c3623068f30de03045865e4e10089,...,13226.0,VARZEA PAULISTA,SP,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51.000,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34.000,2017-05-17 03:55:27.000,2017-05-17 11:05:55.000,2017-05-22 13:44:35.000,6.67,21.10,ef92defde845ab8450f9d70c526ef70f,...,38017.0,NaN,NaN,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27.000,21.90,12.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117595,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,...,56912.0,NaN,NaN,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19
117596,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,...,56912.0,NaN,NaN,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19
117597,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,...,56912.0,NaN,NaN,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19
117601,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56.000,2017-10-24 17:14:25.000,2017-10-26 15:13:14.000,2017-10-28 12:22:22.000,4.80,17.29,72a30483855e2eafc67aee5dc2560482,...,4039.0,SAO PAULO,SP,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25.000,99.90,16.95
117602,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59.000,2017-08-15 00:04:32.000,2017-08-15 19:02:53.000,2017-08-16 21:59:40.000,1.96,10.04,9c422a519119dcad7575db5af1ba540e,...,13289.0,vinhedo,sao paulo,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32.000,55.99,8.72