In [387]:
import pandas as pd
import numpy as np
import datetime

Código para mostrar todas as colunas, quando eu escrever display(df). Se eu não usar esse código, ele mostra apenas algumas colunas

In [388]:
pd.set_option('display.max_columns', None)

In [389]:
df=pd.read_csv("Data/DE&CO_14_06.csv")
df.drop_duplicates(inplace=True)
len(df)

74355

In [390]:
df.drop(columns=['order_id.1','customer_id.1',"product_name_lenght","product_description_lenght","product_photos_qty"],inplace=True)

In [391]:
display(df)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time,delivery_time_model,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_id,seller_zip_code_prefix,seller_city,seller_state,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02.000,2017-09-13 09:45:35.000,2017-09-19 18:34:16.000,2017-09-20 23:43:48.000,7.61,15.63,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,650.0,28.0,9.0,14.0,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,1,credit_card,2,72.19,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06.000,2017-04-26 11:05:13.000,2017-05-04 14:35:00.000,2017-05-12 16:04:24.000,16.22,18.55,e5f2d52b802189ee658865ca93d83a8f,pet_shop,30000.0,50.0,30.0,40.0,dd7ddc04e1b6c2c614352b383efe2d36,3471,sao paulo,SP,1,credit_card,3,259.83,eb28e67c4c0b83846050ddfb8a35d051,15775,NaN,NaN
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31.000,2018-01-14 14:48:30.000,2018-01-16 12:36:48.000,2018-01-22 13:19:16.000,7.95,21.39,c777355d18b72b67abbeef9df44fd0fd,moveis_decoracao,3050.0,33.0,13.0,33.0,5b51032eddd242adc84c38acab88f23d,37564,borda da mata,MG,1,credit_card,5,216.87,3818d81c6709e39d06b2738a8d3a2474,35661,NaN,NaN
3,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51.000,2017-02-04 14:10:13.000,2017-02-16 09:46:09.000,2017-03-01 16:42:31.000,25.11,40.42,ac6c3623068f30de03045865e4e10089,ferramentas_jardim,3750.0,35.0,40.0,30.0,df560393f3a51e74553ab94004ba5c87,87900,loanda,PR,1,credit_card,3,218.04,64b576fb70d441e8f1b2d7d446e483c5,13226,VARZEA PAULISTA,SP
4,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34.000,2017-05-17 03:55:27.000,2017-05-17 11:05:55.000,2017-05-22 13:44:35.000,6.67,21.10,ef92defde845ab8450f9d70c526ef70f,utilidades_domesticas,450.0,24.0,8.0,15.0,6426d21aca402a131fc0a5d0960a3c90,14091,ribeirao preto,SP,1,boleto,1,34.59,85c835d128beae5b4ce8602c491bf385,38017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81760,fffb0b1a50e65c449020434fa835e078,46b385c6d972b73cbcf797a8b16c072d,delivered,2017-04-12 16:35:43.000,2017-04-12 16:45:12.000,2017-04-27 09:26:54.000,2017-05-17 11:38:22.000,34.79,32.31,e7be84ea9462aac5e2b0b08eb35ba7f1,instrumentos_musicais,100.0,60.0,16.0,11.0,36a968b544695394e4e9d7572688598f,11010,santos,SP,1,credit_card,1,15.86,b2d2b4204f7fc4b4aeca38e3cd680a7e,13083,campinas,NaN
81761,fffb2ef8874127f75b52b643880fd7e0,ca8374c00203cec663bc1eabf0aaede4,delivered,2018-03-30 15:36:49.000,2018-04-03 05:08:33.000,2018-04-03 15:12:19.000,2018-04-16 16:56:38.000,17.06,27.35,ebceb9726cf5c6187b48e17fe58747b0,cama_mesa_banho,200.0,25.0,5.0,18.0,609e1a9a6c2539919b8205cf7c4e6ff0,88359,brusque,SC,1,boleto,1,39.96,6b42acb204802253acec6607ff3a9e0b,28540,NaN,NaN
81762,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,relogios_presentes,350.0,16.0,14.0,11.0,b1fc4f64df5a0e8b6913ab38803c57a9,24440,sao goncalo,RJ,1,boleto,1,356.76,f736308cd9952b33b90b9fe94da9c8f5,56912,NaN,NaN
81766,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56.000,2017-10-24 17:14:25.000,2017-10-26 15:13:14.000,2017-10-28 12:22:22.000,4.80,17.29,72a30483855e2eafc67aee5dc2560482,esporte_lazer,967.0,21.0,24.0,19.0,c3cfdc648177fdbbbb35635a37472c53,80610,curitiba,PR,1,credit_card,3,116.85,cd79b407828f02fdbba457111c38e4c4,4039,SAO PAULO,SP
81767,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59.000,2017-08-15 00:04:32.000,2017-08-15 19:02:53.000,2017-08-16 21:59:40.000,1.96,10.04,9c422a519119dcad7575db5af1ba540e,informatica_acessorios,100.0,20.0,20.0,20.0,2b3e4a2a3ea8e01938cabda2a3e5cc79,4733,sao paulo,SP,1,credit_card,3,64.71,eb803377c9315b564bdedad672039306,13289,vinhedo,sao paulo

In [392]:
vazios=df.isnull().sum()
vazios

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                   14
order_delivered_carrier_date         1
order_delivered_customer_date        0
delivery_time                        0
delivery_time_model                  0
product_id                           0
product_category_name             1328
product_weight_g                    18
product_length_cm                   18
product_height_cm                   18
product_width_cm                    18
seller_id                            0
seller_zip_code_prefix               0
seller_city                          0
seller_state                         0
payment_sequential                   0
payment_type                         0
payment_installments                 0
payment_value                        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                    26176
customer_state                   37405
dtype: int64

Como não falta nenum zip_code_prefix, e faltaa bastante informação da cidade e estado, acredito que faça sentido fazer um drop de ["customer_city","customer_state"], já que essa informação é vazia em diversos casos, mas está contida no zip_code

In [393]:
df.drop(columns=["customer_city","customer_state","seller_city","seller_state"], inplace=True)

In [394]:
vazios=df.isnull().sum()
vazios

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  14
order_delivered_carrier_date        1
order_delivered_customer_date       0
delivery_time                       0
delivery_time_model                 0
product_id                          0
product_category_name            1328
product_weight_g                   18
product_length_cm                  18
product_height_cm                  18
product_width_cm                   18
seller_id                           0
seller_zip_code_prefix              0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
customer_unique_id                  0
customer_zip_code_prefix            0
dtype: int64

In [395]:
df=df[df["order_approved_at"].notnull()]

In [396]:
df.loc[df["product_height_cm"].isnull(),["product_height_cm","product_weight_g","product_length_cm","product_width_cm"]]
#type(df.loc[5139,"product_height_cm"])

,product_height_cm,product_weight_g,product_length_cm,product_width_cm
5139,NaN,NaN,NaN,NaN
6672,NaN,NaN,NaN,NaN
20896,NaN,NaN,NaN,NaN
28674,NaN,NaN,NaN,NaN
35217,NaN,NaN,NaN,NaN
35594,NaN,NaN,NaN,NaN
42648,NaN,NaN,NaN,NaN
51606,NaN,NaN,NaN,NaN
53349,NaN,NaN,NaN,NaN
60037,NaN,NaN,NaN,NaN
61057,NaN,NaN,NaN,NaN
61693,NaN,NaN,NaN,NaN
67743,NaN,NaN,NaN,NaN
70996,NaN,NaN,NaN,NaN
70997,NaN,NaN,NaN,NaN
70998,NaN,NaN,NaN,NaN
72917,NaN,NaN,NaN,NaN
75289,NaN,NaN,NaN,NaN

Percebo que essas 18 entregas não possuem nenhuma informação de dimensão. Como são apenas 20, faz sentido remover essas linhas.

In [397]:
df=df[df["product_height_cm"].notnull()]
df.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date        1
order_delivered_customer_date       0
delivery_time                       0
delivery_time_model                 0
product_id                          0
product_category_name            1310
product_weight_g                    0
product_length_cm                   0
product_height_cm                   0
product_width_cm                    0
seller_id                           0
seller_zip_code_prefix              0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
customer_unique_id                  0
customer_zip_code_prefix            0
dtype: int64

In [398]:
display(df)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time,delivery_time_model,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_id,seller_zip_code_prefix,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02.000,2017-09-13 09:45:35.000,2017-09-19 18:34:16.000,2017-09-20 23:43:48.000,7.61,15.63,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,650.0,28.0,9.0,14.0,48436dade18ac8b2bce089ec2a041202,27277,1,credit_card,2,72.19,871766c5855e863f6eccc05f988b23cb,28013
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06.000,2017-04-26 11:05:13.000,2017-05-04 14:35:00.000,2017-05-12 16:04:24.000,16.22,18.55,e5f2d52b802189ee658865ca93d83a8f,pet_shop,30000.0,50.0,30.0,40.0,dd7ddc04e1b6c2c614352b383efe2d36,3471,1,credit_card,3,259.83,eb28e67c4c0b83846050ddfb8a35d051,15775
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31.000,2018-01-14 14:48:30.000,2018-01-16 12:36:48.000,2018-01-22 13:19:16.000,7.95,21.39,c777355d18b72b67abbeef9df44fd0fd,moveis_decoracao,3050.0,33.0,13.0,33.0,5b51032eddd242adc84c38acab88f23d,37564,1,credit_card,5,216.87,3818d81c6709e39d06b2738a8d3a2474,35661
3,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51.000,2017-02-04 14:10:13.000,2017-02-16 09:46:09.000,2017-03-01 16:42:31.000,25.11,40.42,ac6c3623068f30de03045865e4e10089,ferramentas_jardim,3750.0,35.0,40.0,30.0,df560393f3a51e74553ab94004ba5c87,87900,1,credit_card,3,218.04,64b576fb70d441e8f1b2d7d446e483c5,13226
4,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34.000,2017-05-17 03:55:27.000,2017-05-17 11:05:55.000,2017-05-22 13:44:35.000,6.67,21.10,ef92defde845ab8450f9d70c526ef70f,utilidades_domesticas,450.0,24.0,8.0,15.0,6426d21aca402a131fc0a5d0960a3c90,14091,1,boleto,1,34.59,85c835d128beae5b4ce8602c491bf385,38017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81760,fffb0b1a50e65c449020434fa835e078,46b385c6d972b73cbcf797a8b16c072d,delivered,2017-04-12 16:35:43.000,2017-04-12 16:45:12.000,2017-04-27 09:26:54.000,2017-05-17 11:38:22.000,34.79,32.31,e7be84ea9462aac5e2b0b08eb35ba7f1,instrumentos_musicais,100.0,60.0,16.0,11.0,36a968b544695394e4e9d7572688598f,11010,1,credit_card,1,15.86,b2d2b4204f7fc4b4aeca38e3cd680a7e,13083
81761,fffb2ef8874127f75b52b643880fd7e0,ca8374c00203cec663bc1eabf0aaede4,delivered,2018-03-30 15:36:49.000,2018-04-03 05:08:33.000,2018-04-03 15:12:19.000,2018-04-16 16:56:38.000,17.06,27.35,ebceb9726cf5c6187b48e17fe58747b0,cama_mesa_banho,200.0,25.0,5.0,18.0,609e1a9a6c2539919b8205cf7c4e6ff0,88359,1,boleto,1,39.96,6b42acb204802253acec6607ff3a9e0b,28540
81762,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,relogios_presentes,350.0,16.0,14.0,11.0,b1fc4f64df5a0e8b6913ab38803c57a9,24440,1,boleto,1,356.76,f736308cd9952b33b90b9fe94da9c8f5,56912
81766,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56.000,2017-10-24 17:14:25.000,2017-10-26 15:13:14.000,2017-10-28 12:22:22.000,4.80,17.29,72a30483855e2eafc67aee5dc2560482,esporte_lazer,967.0,21.0,24.0,19.0,c3cfdc648177fdbbbb35635a37472c53,80610,1,credit_card,3,116.85,cd79b407828f02fdbba457111c38e4c4,4039
81767,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59.000,2017-08-15 00:04:32.000,2017-08-15 19:02:53.000,2017-08-16 21:59:40.000,1.96,10.04,9c422a519119dcad7575db5af1ba540e,informatica_acessorios,100.0,20.0,20.0,20.0,2b3e4a2a3ea8e01938cabda2a3e5cc79,4733,1,credit_card,3,64.71,eb803377c9315b564bdedad672039306,13289

In [399]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74323 entries, 0 to 81767
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       74323 non-null  object
 1   customer_id                    74323 non-null  object
 2   order_status                   74323 non-null  object
 3   order_purchase_timestamp       74323 non-null  object
 4   order_approved_at              74323 non-null  object
 5   order_delivered_carrier_date   74322 non-null  object
 6   order_delivered_customer_date  74323 non-null  object
 7   delivery_time                  74323 non-null  float64
 8   delivery_time_model            74323 non-null  float64
 9   product_id                     74323 non-null  object
 10  product_category_name          73013 non-null  object
 11  product_weight_g               74323 non-null  float64
 12  product_length_cm              74323 non-null  float64
 13  product_height_cm              74323 non-null  float64
 14  product_width_cm               74323 non-null  float64
 15  seller_id                      74323 non-null  object
 16  seller_zip_code_prefix         74323 non-null  int64
 17  payment_sequential             74323 non-null  int64
 18  payment_type                   74323 non-null  object
 19  payment_installments           74323 non-null  int64
 20  payment_value                  74323 non-null  float64
 21  customer_unique_id             74323 non-null  object
 22  customer_zip_code_prefix       74323 non-null  int64
dtypes: float64(7), int64(4), object(12)
memory usage: 13.6+ MB

Trabalhando um pouco sobre as colunas de data

In [400]:

df["order_purchase_timestamp"]=pd.to_datetime(df["order_purchase_timestamp"])
df["order_approved_at"]=pd.to_datetime(df["order_approved_at"])
df["order_delivered_carrier_date"]=pd.to_datetime(df["order_delivered_carrier_date"])
df["order_delivered_customer_date"]=pd.to_datetime(df["order_delivered_customer_date"])
display(df)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time,delivery_time_model,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_id,seller_zip_code_prefix,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,7.61,15.63,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,650.0,28.0,9.0,14.0,48436dade18ac8b2bce089ec2a041202,27277,1,credit_card,2,72.19,871766c5855e863f6eccc05f988b23cb,28013
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,16.22,18.55,e5f2d52b802189ee658865ca93d83a8f,pet_shop,30000.0,50.0,30.0,40.0,dd7ddc04e1b6c2c614352b383efe2d36,3471,1,credit_card,3,259.83,eb28e67c4c0b83846050ddfb8a35d051,15775
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,7.95,21.39,c777355d18b72b67abbeef9df44fd0fd,moveis_decoracao,3050.0,33.0,13.0,33.0,5b51032eddd242adc84c38acab88f23d,37564,1,credit_card,5,216.87,3818d81c6709e39d06b2738a8d3a2474,35661
3,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,25.11,40.42,ac6c3623068f30de03045865e4e10089,ferramentas_jardim,3750.0,35.0,40.0,30.0,df560393f3a51e74553ab94004ba5c87,87900,1,credit_card,3,218.04,64b576fb70d441e8f1b2d7d446e483c5,13226
4,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34,2017-05-17 03:55:27,2017-05-17 11:05:55,2017-05-22 13:44:35,6.67,21.10,ef92defde845ab8450f9d70c526ef70f,utilidades_domesticas,450.0,24.0,8.0,15.0,6426d21aca402a131fc0a5d0960a3c90,14091,1,boleto,1,34.59,85c835d128beae5b4ce8602c491bf385,38017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81760,fffb0b1a50e65c449020434fa835e078,46b385c6d972b73cbcf797a8b16c072d,delivered,2017-04-12 16:35:43,2017-04-12 16:45:12,2017-04-27 09:26:54,2017-05-17 11:38:22,34.79,32.31,e7be84ea9462aac5e2b0b08eb35ba7f1,instrumentos_musicais,100.0,60.0,16.0,11.0,36a968b544695394e4e9d7572688598f,11010,1,credit_card,1,15.86,b2d2b4204f7fc4b4aeca38e3cd680a7e,13083
81761,fffb2ef8874127f75b52b643880fd7e0,ca8374c00203cec663bc1eabf0aaede4,delivered,2018-03-30 15:36:49,2018-04-03 05:08:33,2018-04-03 15:12:19,2018-04-16 16:56:38,17.06,27.35,ebceb9726cf5c6187b48e17fe58747b0,cama_mesa_banho,200.0,25.0,5.0,18.0,609e1a9a6c2539919b8205cf7c4e6ff0,88359,1,boleto,1,39.96,6b42acb204802253acec6607ff3a9e0b,28540
81762,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00,2017-10-28 02:55:58,2017-11-10 19:31:52,2017-11-17 19:41:42,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,relogios_presentes,350.0,16.0,14.0,11.0,b1fc4f64df5a0e8b6913ab38803c57a9,24440,1,boleto,1,356.76,f736308cd9952b33b90b9fe94da9c8f5,56912
81766,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,4.80,17.29,72a30483855e2eafc67aee5dc2560482,esporte_lazer,967.0,21.0,24.0,19.0,c3cfdc648177fdbbbb35635a37472c53,80610,1,credit_card,3,116.85,cd79b407828f02fdbba457111c38e4c4,4039
81767,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,1.96,10.04,9c422a519119dcad7575db5af1ba540e,informatica_acessorios,100.0,20.0,20.0,20.0,2b3e4a2a3ea8e01938cabda2a3e5cc79,4733,1,credit_card,3,64.71,eb803377c9315b564bdedad672039306,13289

In [401]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74323 entries, 0 to 81767
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       74323 non-null  object
 1   customer_id                    74323 non-null  object
 2   order_status                   74323 non-null  object
 3   order_purchase_timestamp       74323 non-null  datetime64[ns]
 4   order_approved_at              74323 non-null  datetime64[ns]
 5   order_delivered_carrier_date   74322 non-null  datetime64[ns]
 6   order_delivered_customer_date  74323 non-null  datetime64[ns]
 7   delivery_time                  74323 non-null  float64
 8   delivery_time_model            74323 non-null  float64
 9   product_id                     74323 non-null  object
 10  product_category_name          73013 non-null  object
 11  product_weight_g               74323 non-null  float64
 12  product_length_cm              74323 non-null  float64
 13  product_height_cm              74323 non-null  float64
 14  product_width_cm               74323 non-null  float64
 15  seller_id                      74323 non-null  object
 16  seller_zip_code_prefix         74323 non-null  int64
 17  payment_sequential             74323 non-null  int64
 18  payment_type                   74323 non-null  object
 19  payment_installments           74323 non-null  int64
 20  payment_value                  74323 non-null  float64
 21  customer_unique_id             74323 non-null  object
 22  customer_zip_code_prefix       74323 non-null  int64
dtypes: datetime64[ns](4), float64(7), int64(4), object(8)
memory usage: 13.6+ MB

In [402]:
df.loc[0,"order_approved_at"]-df.loc[0,"order_purchase_timestamp"]

Timedelta('0 days 00:46:33')