In [29]:
import pandas as pd

In [30]:
df=pd.read_csv("Data/query_de&co_11_06.csv")
len(df.columns)

25

In [31]:
df[["order_id","order_id.1"]]

                               order_id                        order_id.1
0      00010242fe8c5a6d1ba2dd792cb16214  00010242fe8c5a6d1ba2dd792cb16214
1      00018f77f2f0320c557190d7a144bdd3  00018f77f2f0320c557190d7a144bdd3
2      000229ec398224ef6ca0657da4fc703e  000229ec398224ef6ca0657da4fc703e
3      00042b26cf59d7ce69dfabb4e55b4fd9  00042b26cf59d7ce69dfabb4e55b4fd9
4      00048cc3ae777c65dbb7d2a0634bc1ea  00048cc3ae777c65dbb7d2a0634bc1ea
...                                 ...                               ...
78110  fffb9224b6fc7c43ebb0904318b10b5f  fffb9224b6fc7c43ebb0904318b10b5f
78111  fffb9224b6fc7c43ebb0904318b10b5f  fffb9224b6fc7c43ebb0904318b10b5f
78112  fffb9224b6fc7c43ebb0904318b10b5f  fffb9224b6fc7c43ebb0904318b10b5f
78113  fffce4705a9662cd70adb13d4a31832d  fffce4705a9662cd70adb13d4a31832d
78114  fffe18544ffabc95dfada21779c9644f  fffe18544ffabc95dfada21779c9644f

[78115 rows x 2 columns]

In [32]:
a=df["order_id"]==df["order_id.1"]
if False in a:
    print("há falsos")
else:
    print("Não há falsos")

Não há falsos

As colunas order_id e order_id.1 são iguais

In [33]:
a=df["product_id"]==df["product_id.1"]
if False in a:
    print("há falsos")
else:
    print("Não há falsos")

Não há falsos

O mesmo para as colunas product_id

In [34]:
df.drop(columns=["order_id.1","product_id.1"],inplace=True)

len(df.columns)

23

In [35]:
display(df)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,delivery_time,delivery_time_model,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35.000,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02.000,...,7.61,15.63,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13.000,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06.000,...,16.22,18.55,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30.000,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31.000,...,7.95,21.39,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
3,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51.000,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51.000,...,25.11,40.42,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0
4,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27.000,21.90,12.69,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34.000,...,6.67,21.10,utilidades_domesticas,36.0,558.0,1.0,450.0,24.0,8.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78110,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,...,21.12,30.30,relogios_presentes,41.0,1159.0,4.0,350.0,16.0,14.0,11.0
78111,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,...,21.12,30.30,relogios_presentes,41.0,1159.0,4.0,350.0,16.0,14.0,11.0
78112,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58.000,55.00,34.19,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,...,21.12,30.30,relogios_presentes,41.0,1159.0,4.0,350.0,16.0,14.0,11.0
78113,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25.000,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56.000,...,4.80,17.29,esporte_lazer,43.0,869.0,1.0,967.0,21.0,24.0,19.0
78114,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32.000,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59.000,...,1.96,10.04,informatica_acessorios,56.0,1306.0,1.0,100.0,20.0,20.0,20.0

In [38]:
df.drop_duplicates(inplace=True)
len(df)

78115