In [163]:
import pandas as pd
import numpy as np

In [164]:
pd.set_option('display.max_columns', None)

In [165]:
df=pd.read_csv("Data/DE&CO_14_06.csv")
len(df.columns)

32

In [166]:
df.drop(columns=['order_id.1','customer_id.1',"product_name_lenght","product_description_lenght","product_photos_qty"],inplace=True)

In [167]:
display(df)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time,delivery_time_model,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_id,seller_zip_code_prefix,seller_city,seller_state,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02.000,2017-09-13 09:45:35.000,2017-09-19 18:34:16.000,2017-09-20 23:43:48.000,7.61,15.63,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,650.0,28.0,9.0,14.0,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,1,credit_card,2,72.19,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06.000,2017-04-26 11:05:13.000,2017-05-04 14:35:00.000,2017-05-12 16:04:24.000,16.22,18.55,e5f2d52b802189ee658865ca93d83a8f,pet_shop,30000.0,50.0,30.0,40.0,dd7ddc04e1b6c2c614352b383efe2d36,3471,sao paulo,SP,1,credit_card,3,259.83,eb28e67c4c0b83846050ddfb8a35d051,15775,NaN,NaN
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31.000,2018-01-14 14:48:30.000,2018-01-16 12:36:48.000,2018-01-22 13:19:16.000,7.95,21.39,c777355d18b72b67abbeef9df44fd0fd,moveis_decoracao,3050.0,33.0,13.0,33.0,5b51032eddd242adc84c38acab88f23d,37564,borda da mata,MG,1,credit_card,5,216.87,3818d81c6709e39d06b2738a8d3a2474,35661,NaN,NaN
3,00042b26cf59d7ce69dfabb4e55b4fd9,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51.000,2017-02-04 14:10:13.000,2017-02-16 09:46:09.000,2017-03-01 16:42:31.000,25.11,40.42,ac6c3623068f30de03045865e4e10089,ferramentas_jardim,3750.0,35.0,40.0,30.0,df560393f3a51e74553ab94004ba5c87,87900,loanda,PR,1,credit_card,3,218.04,64b576fb70d441e8f1b2d7d446e483c5,13226,VARZEA PAULISTA,SP
4,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34.000,2017-05-17 03:55:27.000,2017-05-17 11:05:55.000,2017-05-22 13:44:35.000,6.67,21.10,ef92defde845ab8450f9d70c526ef70f,utilidades_domesticas,450.0,24.0,8.0,15.0,6426d21aca402a131fc0a5d0960a3c90,14091,ribeirao preto,SP,1,boleto,1,34.59,85c835d128beae5b4ce8602c491bf385,38017,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81763,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,relogios_presentes,350.0,16.0,14.0,11.0,b1fc4f64df5a0e8b6913ab38803c57a9,24440,sao goncalo,RJ,1,boleto,1,356.76,f736308cd9952b33b90b9fe94da9c8f5,56912,NaN,NaN
81764,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,relogios_presentes,350.0,16.0,14.0,11.0,b1fc4f64df5a0e8b6913ab38803c57a9,24440,sao goncalo,RJ,1,boleto,1,356.76,f736308cd9952b33b90b9fe94da9c8f5,56912,NaN,NaN
81765,fffb9224b6fc7c43ebb0904318b10b5f,4d3abb73ceb86353aeadbe698aa9d5cb,delivered,2017-10-27 16:51:00.000,2017-10-28 02:55:58.000,2017-11-10 19:31:52.000,2017-11-17 19:41:42.000,21.12,30.30,43423cdffde7fda63d0414ed38c11a73,relogios_presentes,350.0,16.0,14.0,11.0,b1fc4f64df5a0e8b6913ab38803c57a9,24440,sao goncalo,RJ,1,boleto,1,356.76,f736308cd9952b33b90b9fe94da9c8f5,56912,NaN,NaN
81766,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56.000,2017-10-24 17:14:25.000,2017-10-26 15:13:14.000,2017-10-28 12:22:22.000,4.80,17.29,72a30483855e2eafc67aee5dc2560482,esporte_lazer,967.0,21.0,24.0,19.0,c3cfdc648177fdbbbb35635a37472c53,80610,curitiba,PR,1,credit_card,3,116.85,cd79b407828f02fdbba457111c38e4c4,4039,SAO PAULO,SP
81767,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59.000,2017-08-15 00:04:32.000,2017-08-15 19:02:53.000,2017-08-16 21:59:40.000,1.96,10.04,9c422a519119dcad7575db5af1ba540e,informatica_acessorios,100.0,20.0,20.0,20.0,2b3e4a2a3ea8e01938cabda2a3e5cc79,4733,sao paulo,SP,1,credit_card,3,64.71,eb803377c9315b564bdedad672039306,13289,vinhedo,sao paulo

In [168]:
vazios=df.isnull().sum()
vazios

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                   15
order_delivered_carrier_date         1
order_delivered_customer_date        0
delivery_time                        0
delivery_time_model                  0
product_id                           0
product_category_name             1450
product_weight_g                    20
product_length_cm                   20
product_height_cm                   20
product_width_cm                    20
seller_id                            0
seller_zip_code_prefix               0
seller_city                          0
seller_state                         0
payment_sequential                   0
payment_type                         0
payment_installments                 0
payment_value                        0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                    28800
customer_state                   41109
dtype: int64

Como não falta nenum zip_code_prefix, e faltaa bastante informação da cidade e estado, acredito que faça sentido fazer um drop de ["customer_city","customer_state"], já que essa informação é vazia em diversos casos, mas está contida no zip_code

In [169]:
df.drop(columns=["customer_city","customer_state"], inplace=True)

In [170]:
vazios=df.isnull().sum()
vazios

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  15
order_delivered_carrier_date        1
order_delivered_customer_date       0
delivery_time                       0
delivery_time_model                 0
product_id                          0
product_category_name            1450
product_weight_g                   20
product_length_cm                  20
product_height_cm                  20
product_width_cm                   20
seller_id                           0
seller_zip_code_prefix              0
seller_city                         0
seller_state                        0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
customer_unique_id                  0
customer_zip_code_prefix            0
dtype: int64

In [171]:
df.loc[df["product_height_cm"].isnull(),["product_height_cm","product_weight_g","product_length_cm","product_width_cm"]]
type(df.loc[20897,"product_height_cm"])

numpy.float64

Percebo que essas 20 entregas não possuem nenhuma informação de dimensão. Como são apenas 20, faz sentido remover essas linhas.

In [172]:
df=df[df["product_height_cm"].notnull()]
df.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  15
order_delivered_carrier_date        1
order_delivered_customer_date       0
delivery_time                       0
delivery_time_model                 0
product_id                          0
product_category_name            1431
product_weight_g                    0
product_length_cm                   0
product_height_cm                   0
product_width_cm                    0
seller_id                           0
seller_zip_code_prefix              0
seller_city                         0
seller_state                        0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
customer_unique_id                  0
customer_zip_code_prefix            0
dtype: int64

In [173]:
display(df[df["product_category_name"].isnull()])

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,delivery_time,delivery_time_model,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_id,seller_zip_code_prefix,seller_city,seller_state,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix
84,0046e1d57f4c07c8c92ab26be8c3dfc0,ae55e228ded796581eccc67045516023,delivered,2017-09-26 15:24:03.000,2017-09-26 15:49:17.000,2017-09-28 18:42:42.000,2017-09-29 18:29:50.000,3.13,14.36,ff6caf9340512b8bf6d2a2a6df032cfa,NaN,200.0,16.0,5.0,12.0,38e6dada03429a47197d5d584d793b41,4763,sao paulo,SP,1,credit_card,1,15.57,b0efd7adeb04d15b16edaedd11215d40,2712
86,00482f2670787292280e0a8153d82467,baa4ed05f22ffb6c4a41b71b699a492c,delivered,2017-02-13 16:18:07.000,2017-02-14 03:42:56.000,2017-02-14 08:32:53.000,2017-02-15 11:35:56.000,1.80,24.32,a9c404971d1a5b1cbc2e4070e02731fd,NaN,700.0,35.0,14.0,11.0,702835e4b785b67a084280efca355756,36046,juiz de fora,MG,1,boleto,1,18.56,d4c784ecad19dfe09e63ffaf9ada82a3,36050
91,004f5d8f238e8908e6864b874eda3391,a69c820c317aa348d781a9d6732afc23,delivered,2018-02-27 12:16:30.000,2018-02-28 09:29:25.000,2018-02-28 20:48:42.000,2018-03-23 00:52:43.000,23.53,21.49,5a848e4ab52fd5445cdc07aab1c40e48,NaN,400.0,20.0,12.0,15.0,c826c40d7b19f62a09e2d7c5e7295ee2,7133,guarulhos,SP,1,boleto,1,138.60,17726716a98c98a7806b43a789820245,79304
97,0057199db02d1a5ef41bacbf41f8f63b,c664dc5de5b5f4184bc4ca0285b9f8fe,delivered,2018-01-18 17:05:30.000,2018-01-20 09:07:51.000,2018-01-23 14:33:54.000,2018-02-06 20:07:20.000,19.13,32.29,41eee23c25f7a574dfaf8d5c151dbb12,NaN,200.0,16.0,2.0,11.0,e5a3438891c0bfdb9394643f95273d8e,13483,limeira,SP,1,boleto,1,37.09,9a5b186787a143669398bd8083720c21,78550
121,006cb7cafc99b29548d4f412c7f9f493,97dc92f1aae3a7db8b252d1b8466910e,delivered,2018-02-17 14:22:34.000,2018-02-17 14:35:28.000,2018-02-20 19:08:00.000,2018-02-25 13:46:52.000,7.98,23.40,e10758160da97891c2fdcbc35f0f031d,NaN,2200.0,16.0,2.0,11.0,323ce52b5b81df2cd804b017b7f09aa7,3306,sao paulo,SP,1,credit_card,3,70.14,d5faae3f913e775994e53068992969b5,70670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81518,ff24fec69b7f3d30f9dc1ab3aee7c179,442c6e15fe1e8e63a96598607c92bc35,delivered,2018-01-26 14:41:14.000,2018-01-27 02:40:12.000,2018-01-29 22:29:45.000,2018-02-07 14:57:00.000,12.01,26.39,5a848e4ab52fd5445cdc07aab1c40e48,NaN,400.0,20.0,12.0,15.0,c826c40d7b19f62a09e2d7c5e7295ee2,7133,guarulhos,SP,1,boleto,1,138.60,ae76d876d1067aa49fa661723d824ed5,89258
81541,ff3024474be86400847879103757d1fd,945c975073e57fe39a636afbf6689bcc,delivered,2017-11-11 15:18:16.000,2017-11-14 03:55:39.000,2017-11-22 12:46:32.000,2017-11-28 18:00:22.000,17.11,15.36,f9b1795281ce51b1cf39ef6d101ae8ab,NaN,400.0,32.0,15.0,15.0,3771c85bac139d2344864ede5d9341e3,18087,sorocaba,SP,1,boleto,1,49.84,7ae8e196478928ab8223458a90681d26,13050
81553,ff3a45ee744a7c1f8096d2e72c1a23e4,bb308532dc44f5973cd2caf17d15bd8c,delivered,2017-05-03 07:08:50.000,2017-05-04 10:15:19.000,2017-05-05 10:34:52.000,2017-05-15 10:13:46.000,12.13,32.70,b61d1388a17e3f547d2bc218df02335b,NaN,350.0,16.0,6.0,11.0,07017df32dc5f2f1d2801e579548d620,58030,joao pessoa,PB,1,credit_card,3,160.42,367879109f7a4aac09ac25b29d133d3a,27285
81611,ff7b636282b98e0aa524264b295ed928,eb09a9c966e7801d1ab6ccb15baa96ef,delivered,2018-02-17 14:46:29.000,2018-02-18 15:35:35.000,2018-02-19 17:15:12.000,2018-02-26 21:35:20.000,9.28,23.38,431df35e52c10451171d8037482eeb43,NaN,475.0,21.0,15.0,21.0,6cd68b3ed6d59aaa9fece558ad360c0a,31255,belo horizonte,MG,1,credit_card,6,65.01,3dceeb3d4179741a2989416284356e63,72007
81661,ffa5e4c604dea4f0a59d19cc2322ac19,665fe3b7ab435cda0fad0c3cbb1c51dd,delivered,2017-12-04 21:45:30.000,2017-12-05 08:41:20.000,2017-12-08 23:06:19.000,2018-01-03 18:53:16.000,29.88,28.09,bd421826916d3e1d445cb860cea3c0fb,NaN,250.0,16.0,4.0,11.0,59cd88080b93f3c18508673122d26169,11707,praia grande,SP,1,credit_card,1,90.18,29d4565784c57f7afdd2d646af68f6d7,74085