In [103]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [104]:
pd.set_option('display.max_columns', None)
df=pd.read_csv("../Data/Dataframelimpa_sem_latlong.csv")
display(df)

,order_id,customer_id,order_status,order_purchase_timestamp,Pedido em aprovação,order_approved_at,Pedido em transporte,order_delivered_carrier_date,Diferença entre entrega e confirmação,order_delivered_customer_date,delivery_time,delivery_time_model,product_id_x,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_id_x,seller_zip_code_prefix,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix,order_item_id,product_id_y,seller_id_y,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,0.03,2017-09-13 09:45:35,6.37,2017-09-19 18:34:16,1.21,2017-09-20 23:43:48,7.61,15.63,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,650.0,28.0,9.0,14.0,48436dade18ac8b2bce089ec2a041202,27277,1,credit_card,2,72.19,871766c5855e863f6eccc05f988b23cb,28013,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35.000,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,0.01,2017-04-26 11:05:13,8.15,2017-05-04 14:35:00,8.06,2017-05-12 16:04:24,16.22,18.55,e5f2d52b802189ee658865ca93d83a8f,pet_shop,30000.0,50.0,30.0,40.0,dd7ddc04e1b6c2c614352b383efe2d36,3471,1,credit_card,3,259.83,eb28e67c4c0b83846050ddfb8a35d051,15775,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13.000,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,0.01,2018-01-14 14:48:30,1.91,2018-01-16 12:36:48,6.03,2018-01-22 13:19:16,7.95,21.39,c777355d18b72b67abbeef9df44fd0fd,moveis,3050.0,33.0,13.0,33.0,5b51032eddd242adc84c38acab88f23d,37564,1,credit_card,5,216.87,3818d81c6709e39d06b2738a8d3a2474,35661,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30.000,199.00,17.87
3,00048cc3ae777c65dbb7d2a0634bc1ea,816cbea969fe5b689b39cfc97a506742,delivered,2017-05-15 21:42:34,1.26,2017-05-17 03:55:27,0.30,2017-05-17 11:05:55,5.11,2017-05-22 13:44:35,6.67,21.10,ef92defde845ab8450f9d70c526ef70f,utilidades_domesticas,450.0,24.0,8.0,15.0,6426d21aca402a131fc0a5d0960a3c90,14091,1,boleto,1,34.59,85c835d128beae5b4ce8602c491bf385,38017,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27.000,21.90,12.69
4,00054e8431b9d7675808bcb819fb4a32,32e2e6ab09e778d99bf2e0ecd4898718,delivered,2017-12-10 11:53:48,0.01,2017-12-10 12:10:31,1.54,2017-12-12 01:07:48,6.87,2017-12-18 22:03:38,8.42,24.50,8d4f2bb7e93e6710a28f34fa83ee7d28,telefonia,200.0,27.0,5.0,20.0,7040e82f899a04d1b434b795a43b4617,1026,1,credit_card,1,31.75,635d9ac1680f03288e72ada3a1035803,16700,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31.000,19.90,11.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71620,fff8287bbae429a99bb7e8c21d151c41,6c1e92a209dbf868706caa831090941e,delivered,2018-03-17 12:11:45,0.01,2018-03-17 12:29:22,4.29,2018-03-21 19:22:25,16.61,2018-04-07 10:07:48,20.91,32.49,bee2e070c39f3dd2f6883a17a5f0da45,informatica_acessorios,175.0,20.0,20.0,20.0,4e922959ae960d389249c378d1c939f5,12327,1,credit_card,4,456.28,028c09f007292c4e3a3b10d296e47987,58075,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22.000,180.00,48.14
71621,fff90cdcb3b2e6cfb397d05d562fd3fe,f6cc7b845fde9d4e71361fe6fcd7ef75,delivered,2017-11-24 09:03:47,0.05,2017-11-24 10:11:58,3.52,2017-11-27 22:44:45,1.15,2017-11-29 02:24:25,4.72,13.62,764292b2b0f73f77a0272be03fdd45f3,moveis,750.0,30.0,30.0,11.0,bd23da7354813347129d751591d1a6e2,3971,1,credit_card,1,101.73,0e1dad535a5b2359a2ff0a7d475ffb86,4119,1,764292b2b0f73f77a0272be03fdd45f3,bd23da7354813347129d751591d1a6e2,2017-11-30 10:11:28.000,89.90,11.83
71622,fffa82886406ccf10c7b4e35c4ff2788,a5201e1a6d71a8d21e869151bd5b4085,delivered,2017-12-18 16:33:07,0.04,2017-12-18 17:33:04,2.06,2017-12-20 18:55:00,18.98,2018-01-08 18:23:10,21.08,36.31,bbe7651fef80287a816ead73f065fc4b,esporte_lazer,2700.0,60.0,15.0,15.0,8f2ce03f928b567e3d56181ae20ae952,5141,1,credit_card,7,273.92,2a3ab9bf9639491997586882c502540a,59955,1,bbe7651fef80287a816ead73f065fc4b,8f2ce03f928b567e3d56181ae20ae952,2017-12-22 17:31:42.000,229.90,44.02
71623,fffce4705a9662cd70adb13d4a31832d,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,1.00,2017-10-24 17:14:25,1.92,2017-10-26 15:13:14,1.88,2017-10-28 12:22:22,4.80,17.29,72a30483855e2eafc67aee5dc2560482,esporte_lazer,967.0,21.0,24.0,19.0,c3cfdc648177fdbbbb35635a37472c53,80610,1,credit_card,3,116.85,cd79b407828f02fdbba457111c38e4c4,4039,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25.000,99.90,16.95
71624,fffe18544ffabc95dfada21779c9644f,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,0.04,2017-08-15 00:04:32,0.79,2017-08-15 19:02:53,1.12,2017-08-16 21:59:40,1.96,10.04,9c422a519119dcad7575db5af1ba540e,informatica_acessorios,100.0,20.0,20.0,20.0,2b3e4a2a3ea8e01938cabda2a3e5cc79,4733,1,credit_card,3,64.71,eb803377c9315b564bdedad672039306,13289,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32.000,55.99,8.72

## Preparando a base para o modelo

In [105]:
df_order=df["order_id"]
df=df[["product_category_name","delivery_time","product_weight_g","product_length_cm","product_height_cm","product_width_cm","payment_sequential",
       "payment_type","payment_value","price","freight_value"]]

df

,product_category_name,delivery_time,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_value,price,freight_value
0,cool_stuff,7.61,650.0,28.0,9.0,14.0,1,credit_card,72.19,58.90,13.29
1,pet_shop,16.22,30000.0,50.0,30.0,40.0,1,credit_card,259.83,239.90,19.93
2,moveis,7.95,3050.0,33.0,13.0,33.0,1,credit_card,216.87,199.00,17.87
3,utilidades_domesticas,6.67,450.0,24.0,8.0,15.0,1,boleto,34.59,21.90,12.69
4,telefonia,8.42,200.0,27.0,5.0,20.0,1,credit_card,31.75,19.90,11.85
...,...,...,...,...,...,...,...,...,...,...,...
71620,informatica_acessorios,20.91,175.0,20.0,20.0,20.0,1,credit_card,456.28,180.00,48.14
71621,moveis,4.72,750.0,30.0,30.0,11.0,1,credit_card,101.73,89.90,11.83
71622,esporte_lazer,21.08,2700.0,60.0,15.0,15.0,1,credit_card,273.92,229.90,44.02
71623,esporte_lazer,4.80,967.0,21.0,24.0,19.0,1,credit_card,116.85,99.90,16.95
71624,informatica_acessorios,1.96,100.0,20.0,20.0,20.0,1,credit_card,64.71,55.99,8.72

In [106]:
df.dropna(inplace=True)

In [107]:
df["product_category_name"]=pd.Categorical(df["product_category_name"])
df["product_category_name"]=df["product_category_name"].cat.codes

df["payment_type"]=pd.Categorical(df["payment_type"])
df["payment_type"]=df["payment_type"].cat.codes
df

,product_category_name,delivery_time,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_type,payment_value,price,freight_value
0,18,7.61,650.0,28.0,9.0,14.0,1,1,72.19,58.90,13.29
1,36,16.22,30000.0,50.0,30.0,40.0,1,1,259.83,239.90,19.93
2,31,7.95,3050.0,33.0,13.0,33.0,1,1,216.87,199.00,17.87
3,41,6.67,450.0,24.0,8.0,15.0,1,0,34.59,21.90,12.69
4,40,8.42,200.0,27.0,5.0,20.0,1,1,31.75,19.90,11.85
...,...,...,...,...,...,...,...,...,...,...,...
71620,25,20.91,175.0,20.0,20.0,20.0,1,1,456.28,180.00,48.14
71621,31,4.72,750.0,30.0,30.0,11.0,1,1,101.73,89.90,11.83
71622,21,21.08,2700.0,60.0,15.0,15.0,1,1,273.92,229.90,44.02
71623,21,4.80,967.0,21.0,24.0,19.0,1,1,116.85,99.90,16.95
71624,25,1.96,100.0,20.0,20.0,20.0,1,1,64.71,55.99,8.72

In [108]:
y=df["delivery_time"]
x=df.drop(columns=["delivery_time"])

In [109]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=9)

In [110]:
from sklearn.ensemble import GradientBoostingRegressor

In [111]:
reg=GradientBoostingRegressor()
reg.fit(x_train,y_train)

GradientBoostingRegressor()

In [112]:
from sklearn.metrics import mean_squared_error
y_pred=reg.predict(x_test)

mse=mean_squared_error(y_test,y_pred)

In [113]:
print(mse)

25.069517264524062

In [114]:
comparação=pd.DataFrame()
comparação["delivery_time"]=y_test
comparação["Modelo ML"]=y_pred
comparação

       delivery_time  Modelo ML
41199           3.69  11.579510
62039           7.44  10.949240
61841           8.13  11.397796
55205          11.97  13.687939
5619            6.63   9.297613
...              ...        ...
67278          10.64  12.335334
63916           8.29  11.883355
14750           4.21  12.826410
64919           7.15  12.500111
1202           11.78  10.367826

[13809 rows x 2 columns]